@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel-section">
    <div class="col-md-offset-2">
        @await Html.PartialAsync("_Carousel")
    </div>
</div>


<div class="container">

    <div class="col-md-9">
        <div class="row">

            <h3>Latest Playlists</h3>
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/images/no content.svg" alt="...">
                        <div class="caption">
                            <h4>Title</h4>
                            <p>@DateTime.Today.Date.ToString("dd/MM/yyyy") - Views: 20</p>
                            <div class="rating text-left">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="col-md-3">
        <div class="row">
            <h3>Genre</h3>
            <hr />
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <span class="badge">14</span>
                    Alternative
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">2</span>
                    Classical
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">20</span>
                    Country
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">8</span>
                    Electronic
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">19</span>
                    HipHop/Rap
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">5</span>
                    Pop
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">27</span>
                    Rock
                </a>
            </div>


        </div>
        <div class="row">
            <h3>Artists</h3>
            <hr />

            <div class="row">
                <a href="#"><span class="badge alert-danger">Drake</span></a>
                <a href="#"><span class="badge alert-danger">Lil Wayne</span></a>
                <a href="#"><span class="badge alert-danger">Kendrick Lamar</span></a>
                <a href="#"><span class="badge alert-danger">A$AP Rocky</span></a>
                <a href="#"><span class="badge alert-danger">Future</span></a>
                <a href="#"><span class="badge alert-danger">Fetty Wap</span></a>
                <a href="#"><span class="badge alert-danger">Meek Mill</span></a>
                <a href="#"><span class="badge alert-danger">Tyga</span></a>
            </div>
        </div>
    </div>



</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $("button").click(function () {
            $(".description").toggle();
        });
    });


    $(document).ready(function () {
        $("#browse").removeClass("active");
    });

    $(document).ready(function () {
        $("#home").addClass("active");
    });
    </script>
}
